* {
	background-image: none;
	box-shadow: none;
}

window {
  background-color: transparent;
}

button {
	text-decoration-color: #FFFFFF;
  color: #FFFFFF;
	background-color: rgba(220, 220, 220, 0.15);
  padding: 15px;
	border: none;
  border-radius: 7px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
}

button:active, button:hover {
	background-color: rgba(220, 220, 220, 0.20);
	outline-style: none;
}

#lock {
    margin: 8px;
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    margin: 8px;
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    margin: 8px;
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    margin: 8px;
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    margin: 8px;
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    margin: 8px;
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
